*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  background-color: #EBE2E3;
}
body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}

/* NAVBAR */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 0 50px;
  height: 80px;
}
nav .left a{
  color: #1B1012;
  font-size: 22px;
  font-weight: 600;
}
nav .right a{
  color: #1B1012;
  font-weight: 600;
  margin: 0 10px;
}
nav .right a span{
  margin-left: 5px;
}

/* HERO */
.hero-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 175px;
  gap: 40px;
}
.hero-section .text{
  flex: 5;
}
.hero-section .text h2{
  font-size: 45px;
}
.hero-section .text .links{
  margin-top: 25px;
}
.hero-section .headshot{
  flex: 5;
  display: flex;
  justify-content: right;
}
.hero-section .headshot img{
  width: 300px;
  border-radius: 10%;
}

/* Skills */
.skills-section{
  padding: 0 50px;
  margin-bottom: 100px;
}
.skills-section h2{
  text-align: center;
  font-size: 35px;
}
.skills-section .text{
  text-align: center;
  margin-bottom: 20px;
}
.skills-section .cells{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-section .cells .cell{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
}
.skills-section .cells .cell img{
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.contact-section h2 {
  font-size: 35px;
}
.contact-section .group {
  display: flex;
  gap: 50px;
}
.contact-section .group .text {
  flex: 3;
  margin-top: 20px;
}
.contact-section .group form {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.contact-section .group form input,
.contact-section .group form textarea {
  font-family: 'Poppins', sans-serif;
  border: 2px solid black;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
}
.contact-section .group form button {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: #546F4E;
  border: none;
  height: 50px;
  cursor: pointer;
  transition: .1s;
}
.contact-section .group form button:hover {
  filter: brightness(.9);
}

/* Gallery */
.gallery-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px; 
}

/* About */
#about-section {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 40px 20px;
}

.about-container {
    max-width: 800px;     
    text-align: center;    
}